<!--
At the moment, this is simply a featured list of all posts with excerpts and links.
-->
<div class="container">
      <a name="featured-list"></a>
      <h2 class="subsection-title">Featured list</h2>
</div>
<div class="code-sample">
  <section class="styleguide__featured-section">
    <div class="featured-section">
        <div class="container-medium">
            <ul class="featured-list">
              {% for post in site.posts %}
                <li class="featured-list__item clear">
                    <div class="container-small">
                        <div class="featured-list__content">
                            <h3>{{ post.title }}</h3>
                            {{ post.excerpt }}
                            <a href="{{ post.url }}" class="cta--primary">...more</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
  </section>
</div>
