<table class="table-4">
  <colgroup>
    <col span="1">
    <col span="1">
    <col span="1">
    <col span="1">
  </colgroup>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Status</th>
      <th>Photos</th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.categories.for-sale %}
    <tr>
      <td data-th="Item">
        <a href="{{ post.url }}" class="cta--secondary">{{ post.title }}</a>
      </td>
      <td data-th="Price">
        AUD {{ post.price }}
      </td>
      <td data-th="Status">
        {{ post.status }}
      </td>
      <td style="padding:0px" data-th="Photos">
        <a href="
        {% if post.gplus-url %}
          {{ post.gplus-url }}
        {% else %}
          /images/photos/{{ post.photo }}
        {% endif %}
        "><img src="/images/photos/{{ post.photo }}" alt="{{ post.title }}"></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
