<header class="app-bar promote-layer">
  <div class="app-bar-container">
    <button class="menu"><img src="/images/hamburger.svg" alt="Menu"></button>
    <h1 class="logo">rikusv</h1>
    <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
    </section>
  </div>
</header>

<nav class="navdrawer-container promote-layer">
  <h4>Navigation</h4>
  <ul>
    <li><a href="/">Hello</a></li>
    <li><a href="https://plus.google.com/u/0/+RikusvanVuuren">Google+</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/styleguide/index.html">temp Style Guide</a></li>
    {% for category in site.categories %}
    <li><a href="/Category/{{ category | first | slugize }}/">{{ category | first | capitalize }}</a></li>
    {% endfor %}
  </ul>
</nav>
