<header class="main-header">
  <div class="google-header">
    <div class="google-header__top">
      <div class="container">
        <span id="beta" class="beta">
          <i class="icon icon-cog"></i>
            <a href="https://github.com/Google/WebFundamentals/tree/master/src/site/_en/fundamentals/index.html" target="_blank">View Source</a>
            <a href="https://github.com/Google/WebFundamentals/issues/new?title=Feedback%20for:%20/fundamentals/index.html" target="_blank">Submit Feedback</a>
        </span>
        <a class="google-header__dev-logo" href="https://developers.google.com/">
            <img src="/web/imgs/developers-logo.svg" alt="Google Developers Homepage"></a>
      </div>
    </div>
  </div>
  <nav class="main-nav">
    <header class="main-nav__header">
      <span class="main-nav__current-label">Web Fundamentals</span>
    </header>
    <ul class="main-nav__list clear nav-is-opened">
      <li class="main-nav__item main-nav__item--web-<strong>fundamentals</strong> main-nav__item--home">
        <a class="main-nav__link main-nav__link--parent" href="/web/fundamentals/" title="Go to Web <strong>Fundamentals</strong>">Web <strong>Fundamentals</strong>
          <i class="main-nav__icon icon icon-chevron-right"></i>
        </a>
      </li>
      <li class="main-nav__item main-nav__item--get-started">
        <a class="main-nav__link main-nav__link--parent" href="/web/fundamentals/getting-started/your-first-multi-screen-site/" title="Go to Get Started">Get Started
          <i class="main-nav__icon icon icon-chevron-right"></i>
        </a>
      </li>
      <li class="main-nav__item main-nav__item--documentation main-nav__item--has-child ">
        <a class="main-nav__link main-nav__link--parent" href="/web/fundamentals/#documentation" title="Go to Documentation">Documentation
          <i class="main-nav__icon icon icon-custom"></i>
        </a>
        <div class="main-nav__secondary-nav">
          <div class="main-nav__secondary-content">
            <div class="clear">
              <ul class="main-nav__list--child g-medium--2 g-wide--2">
                <li class="main-nav__item--child nav-theme--principles-of-site-design">
                  <a class="main-nav__link main-nav__link--child themed--hover" title="Go to Principles of Site Design" href="/web/fundamentals/principles/">
                    <span class="main-nav__guide-icon icon-circle--nav themed--background">
                      <i class="icon icon-principles-of-site-design"></i>
                    </span> Principles of Site Design
                    <i class="main-nav__icon icon icon-chevron-right"></i>
                  </a>
                </li>
                <li class="main-nav__item--child nav-theme--multi-device-layouts">
                  <a class="main-nav__link main-nav__link--child themed--hover" title="Go to Multi-Device Layouts" href="/web/fundamentals/layouts/">
                    <span class="main-nav__guide-icon icon-circle--nav themed--background">
                      <i class="icon icon-multi-device-layouts"></i>
                    </span> Multi-Device Layouts
                    <i class="main-nav__icon icon icon-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button class="main-nav__btn btn--toggle-nav">
      <i class="icon icon-menu"></i>
    </button>
  </nav>
</header>
