<!doctype html>
<html>
{% include head.html %}
  <body>
    {% include header.html %}

    <div class="guides-section">
      <header class="container">
        <h2 class="xxlarge">{{ page.title }}</h2>
      </header>
      <ul class="guides-list container">
        <li class="guides-list__item g--half theme--introduction-to-media">
          <div class="primary-content" style="padding:0px">
            <a href="
            {% if page.gplus-url %}
              {{ page.gplus-url }}
            {% else %}
              /images/photos/{{ page.photo }}
            {% endif %}
            "><img src="/images/photos/{{ page.photo }}" alt="{{ page.title }}"></a>
          </div>
          <div class="secondary-content" style="margin-top: 0px">
            <span class="icon-circle themed--background">
              <i class="icon icon-lessons"></i>
            </span>
            <ol class="list-links list-links--secondary">
              <li>Status: {{ page.status }}</li>
              <li>Price: AUD {{ page.price }}</li>
              {% if page.price-new > 0 %}
              <li>Price New: AUD {{ page.price-new }}</li>
              {% else %}
              {% endif %}
            </ol></div></li>
            <li class="guides-list__item g--half theme--user-input g--last">
          <div class="primary-content">
            <p>{{ page.abstract }}</p>
          </div>
          <div class="secondary-content">
            <span class="icon-circle themed--background">
              <i class="icon icon-tick"></i>
            </span>
            <ol class="list-links list-links--secondary">
              <li>Telephone: +61 4 0419 5584</li>
              <li><br></li>
              <li>
                {% if page.price-new %}
                  <br>
                {% else %}
                {% endif %}
              </li>
            </ol>
          </div>
        </li>


        <li class="guides-list__item g--half theme--multi-device-layouts">
          <div class="primary-content">
            <h3 class="xlarge"><a class="themed">Further Details</a></h3>
            {{ content }}
            <br>
          </div>
        </li>
        <li class="guides-list__item g--half theme--multi-device-layouts g--last">
          <div class="primary-content">
            <h3 class="xlarge"><a class="themed">Other Items For Sale</a></h3>
            <ol class="list-links list-links--secondary">
              {% for post in site.related_posts | limit: 5 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
              <li><a href="/for-sale/">and more...</a></li>
              <p><a href="/for-sale/" class="cta--primary">Return to list of all items.</a></p>
            </ol>
          </div>
        </li>
      </ul>
    </div>


    {% include footer.html %}

    <!-- build:js scripts/main.min.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
